body {
    margin: 0px;
    background-color: rgb(51, 51, 51);
}

/* Estilo do header e NavBar */
header {
    width: 100%;
    height: 50px;
    position: relative;
}
#navbar {
    width: 100%;
    height: 50px;
    top: 0%;
    left: 50%;
    margin-left: -50%;
    position: fixed;
    z-index: 1;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.39);
}
#imglogo {
    width: 125px;
    height: 37.5px;
    margin-top: 5px;
    margin-left: -60%;
    position: absolute;
    text-align: center;
    border-radius: 8px;
}
#ulnav {
    width: 50%;
    height: 50px;
    padding: 0px;
    margin-top: 0%;
    margin-left: 50%;
    position: absolute;
    display: inline-flex;
    text-align: center;
    color: rgb(0, 0, 0);
    font: 800 10pt Arial;
    font-family: Arial, Helvetica, sans-serif;
}
#nlink1 {
    left: 20%;
    top: 12px;
    position: absolute;
    padding: 3px;
    text-decoration: none;
    color: inherit;
    font: inherit;
    font-family: inherit;
    border-radius: 5px;
}
#nlink2 {
    left: 40%;
    top: 12px;
    position: absolute;
    padding: 3px;
    text-decoration: none;
    color: inherit;
    font: inherit;
    font-family: inherit;
    border-radius: 5px;
}
#nlink3 {
    left: 60%;
    top: 12px;
    position: absolute;
    padding: 3px;
    text-decoration: none;
    color: inherit;
    font: inherit;
    font-family: inherit;
    border-radius: 5px;
}
#nlink4 {
    left: 80%;
    top: 12px;
    position: absolute;
    padding: 3px;
    text-decoration: none;
    color: inherit;
    font: inherit;
    font-family: inherit;
    border-radius: 5px;
}

/* Estilo do 1º Conteudo */
#content1 {
    width: 100%;
    height: 85%;
    position: absolute;
    background-color: rgb(51, 51, 51);
}
#thema1 {
    width: 100%;
    height: 50%;
    position: absolute;
}
#img1 {
    width: 30%;
    height: 100%;
    left: 0%;
    position: absolute;
}
#img_content1 {
    width: 300px;
    height: 168px;
    position: absolute;
    top: 55%;
    left: 80%;
    margin-top: -83px;
    margin-left: -150px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.699);
    filter: saturate(25%);
}

#txtimg1 {
    width: 70%;
    height: 100%;
    left: 30%;
    position: absolute;
}
#txt_content1 {
    width: 800px;
    height: 120px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-top: -70px;
    margin-left: -400px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.699);

    font: normal 11pt Arial;
    background-color: rgb(255, 255, 255);
}

/* Estilo do 2º Conteudo */
#thema2 {
    width: 100%;
    height: 50%;
    top: 50%;
    position: absolute;
}
#img2 {
    width: 30%;
    height: 100%;
    left: 70%;
    position: absolute;
}
#img_content2 {
    width: 300px;
    height: 168px;
    position: absolute;
    top: 45%;
    left: 25%;
    margin-top: -83px;
    margin-left: -150px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.699);
    filter: saturate(40%);
}

#txtimg2 {
    width: 70%;
    height: 100%;
    left: 0%;
    position: absolute;
}
#txt_content2 {
    width: 800px;
    height: 120px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -70px;
    margin-left: -400px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.699);

    font: normal 11pt Arial;
    background-color: rgb(255, 255, 255);
}

/* Estilo do 1º Conteudo */
#cnt3 {
    width: 100%;
    height: 468px;
    top: 95%;
    position: absolute;
    background-image: linear-gradient(to bottom, #3a3affd5, #a63affd5);
}
#titlecontent3 {
    width: 100%;
    height: 28px;
    top: 3%;
    position: absolute;
    text-align: center;
}
#titlec3 {
    color: rgb(31, 31, 31);
    font: 900 18pt Arial;
    margin: 0px;
}

#content3 {
    width: 100%;
    height: 400px;
    top: 10%;
    position: absolute;
}
#whitehat {
    width: 30%;
    height: 360px;
    top: 5%;
    left: 5%;
    position: absolute;
    display: inline-block;
}
#whitehatcontent {
    width: 95%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.80);
    background-color: rgb(128, 128, 128);
}
#titlewh {
    text-align: center;
    font: 800 14pt Arial;
    color: rgb(31, 31, 31);
}
#imgwh {
    width: 100px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
}
#pwh {
    width: 350px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    position: absolute;

    font: 500 12pt Arial;
}

#grayhat {
    width: 30%;
    height: 360px;
    top: 5%;
    left: 35%;
    position: absolute;
    display: inline-block;
}
#grayhatcontent {
    width: 95%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.80);
    background-color: rgb(128, 128, 128);
}
#titlegh {
    text-align: center;
    font: 800 14pt Arial;
    color: rgb(31, 31, 31);
}
#imggh {
    width: 100px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
}
#pgh {
    width: 350px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    position: absolute;

    font: 500 12pt Arial;
}

#blackhat {
    width: 30%;
    height: 360px;
    top: 5%;
    left: 65%;
    position: absolute;
    display: inline-block;
}
#blackhatcontent {
    width: 95%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.80);
    background-color: rgb(128, 128, 128);
}
#titlebh {
    text-align: center;
    font: 800 14pt Arial;
    color: rgb(31, 31, 31);
}
#imgbh {
    width: 100px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
}
#pbh {
    width: 350px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    position: absolute;

    font: 500 12pt Arial;
}

/* Estilo do ródape */
footer {
    width: 100%;
    height: 50px;
    top: 180%;
    position: absolute;
    background-color: rgb(66, 66, 66);
}
#linkhub {
    width: 180px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -11.5px;
    margin-left: -91.75px;
    position: absolute;
    padding: 3px;
    border-radius: 10px;

    font: 500 12pt Arial;
    text-decoration: none;
    color: rgb(0, 0, 0);
}